{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="col-sm-8 offset-sm-2 p-4">
    
    <div class="col">
        <a href="{{ path('home') }}"><i class="fa fa-close" style="font-size:36px"></i></a>
    </div>
    <h2>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}, {{ app.user.roles|join('/')|lower }}</h2>

    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th scope="col">Prénom Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Avatar</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.img }}</td>
                    <td>
                        <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-warning"><i class='fas fa-edit'></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="btn btn-primary">ADMIN</a>
        {% endif %}

        <a href="{{ path('app_logout') }}" class="btn btn-info float-right">Se déconnecter</a>
    </div>

</div>
<br>
{% if is_granted('ROLE_PRO') %}
<div class="col-sm-8 offset-sm-2 p-4">

    <h2>Liste de vos prestations :</h2>

    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for prestation in prestations %}
                <tr>
                    <td>{{ prestation.name }}</td>
                    <td>{{ prestation.description }}</td>
                    <td>{{ prestation.prix }}€</td>
                    <td>
                        <a href="{{ path('prestations_show', {'id': prestation.id}) }}" class="btn btn-primary"><i class='fas fa-plus'></i></a>
                        <a href="{{ path('prestations_edit', {'id': prestation.id}) }}"
                            class="btn btn-warning"><i class='fas fa-edit'></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('prestations_new') }}" class="btn btn-success float-right">Ajouter prestation</a>
    </div>

</div>
{% endif %}

{% endblock %}