{% extends 'base.html.twig' %}

{% block title %}At Home!{% endblock %}

{% block body %}
<div class="w3-container w3-center w3-content">

    <div class="row">
        <div class="col">
            <h4>Soins</h4>
            <a href="{{ path('service1') }}"><img src="{{ asset('img/icons8-massage-80.png') }}" class="w3-image w3-hover-opacity"></a>

        </div>
        <div class="col">
            <h4>Esthétique</h4>
            <a href="{{ path('service2') }}"><img src="{{ asset('img/icons8-esthetique-100.png') }}" class="w3-image w3-hover-opacity"></a>

        </div>
        <div class="col">
            <h4>Coiffure</h4>
            <a href="{{ path('service3') }}"><img src="{{ asset('img/icons8-coiffure-100.png') }}" class="w3-image w3-hover-opacity"></a>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ path('app_register') }}"><img src="{{ asset('img/icons8-utilisateur-100.png') }}"
                    class="w3-image w3-hover-opacity"></a>
            <h4>Mon compte</h4>
        </div>
        <div class="col">
            <a href="{{ path('contact') }}"><img src="{{ asset('img/icons8-support-en-ligne-100.png') }}" 
                    class="w3-image w3-hover-opacity">
            <h4>Contactez-nous</h4>
        </div>
        <div class="col">
            <img src="{{ asset('img/icons8-support-100.png') }}" class="w3-image w3-hover-opacity">
            <h4>Parametres</h4>
        </div>
        
    </div>

</div>
{% endblock %}