{% extends 'base.html.twig' %}

{% block title %}At Home!{% endblock %}

{% block body %}
<div class="container w3-center">

    <div class="w3-row">
        <div class="w3-col s4">
            <p>Notifications</p>
            <a href="#"><img src="{{ asset('img/icons8-massage-80.png') }}" class="w3-image w3-hover-opacity"></a>
        </div>
        <div class="w3-col s4">
            <p>Prestations</p>
            <a href="{{ path('services') }}"><img src="{{ asset('img/icons8-lipstick-80.png') }}"
                    class="w3-image w3-hover-opacity"></a>
        </div>
        <div class="w3-col s4">
            <p>Mon compte</p>
            <a href="{{ path('profile') }}"><img src="{{ asset('img/icons8-customer-80.png') }}"
                    class="w3-image w3-hover-opacity"></a>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col s4" style="margin-top: 8%;">
            <a href="#"><img src="{{ asset('img/icons8-massage-80.png') }}" class="w3-image w3-hover-opacity"></a>
            <p>Avis</p>
        </div>
        <div class="w3-col s4" style="margin-top: 30%;">
        </div>
        <div class="w3-col s4" style="margin-top: 8%;">
            <a href="#"><img src="{{ asset('img/icons8-lipstick-80.png') }}" class="w3-image w3-hover-opacity"></a>
            <p>Réseaux</p>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col s4">
            <a href="{{ path('app_register') }}"><img src="{{ asset('img/icons8-customer-80.png') }}"
                    class="w3-image w3-hover-opacity"></a>
            <p>Identifications</p>
        </div>
        <div class="w3-col s4" style="margin-top: 8%;">
        </div>
        <div class="w3-col s4">
            <a href="#"><img src="{{ asset('img/icons8-technical-support-80.png') }}"
                    class="w3-image w3-hover-opacity"></a>
            <p>Contactez-nous</p>
        </div>
    </div>

</div>
{% endblock %}