{% extends 'base.html.twig' %}

{% block title %}At Home!{% endblock %}

{% block body %}
<div class="w3-auto w3-content">
        <a href="javascript:history.back()"><i class="fa fa-arrow-left" style="font-size:36px"></i></a>

    {% for presta in service3 %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <img src={{ asset ('img/brel_stage.jpg') }} alt="portrait" class="portrait" />
        </div>
        <div class="col col-lg-4">
            <div class="fiche">
                <h4>{{ presta.name }}</h4>
                <p>{{ presta.prestataire.username }}</p>
                <p>{{ presta.description }}</p>
                <p><strong>{{ presta.prix }} €</strong></p>
                <p>Notes: ../5</p>
                <p><a href="{{ path('search_show', {'id': presta.id}) }}" class="btn btn-primary w3-round-large">Voir en détail</a>
                <button class="btn btn-success w3-round-large">Recommandé</button></p>
            </div><!-- FIN FICHE -->
        </div><!-- FIN COL -->
    </div><!-- FIN ROW -->
    {% endfor %}

</div>

</div><!-- FIN CONTAINER -->
{% endblock %}