{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}
<div class="w3-container">
    <div class="col-sm-6 offset-sm-3 p-4">

        <a href="javascript:history.back()"><i class="fa fa-arrow-left" style="font-size:36px"></i></a>

        <h2>Prestations</h2>

        <table class="table table-bordered table-sm text-center">
            <tbody>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ prestation.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ prestation.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ prestation.prix }} €</td>
                </tr>
                <tr>
                    <th>Prestataire</th>
                    <td>{{ prestation.prestataire.username }}</td>
                </tr>
                <tr>
                    <th>Avis et notes</th>
                    <td></td>
                </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_PRO') %}
        <a href="{{ path('prestations_edit', {'id': prestation.id}) }}" class="btn btn-warning float-right">Edit</a>

        {{ include('prestations/_delete_form.html.twig') }}
        {% endif %}

        {% if app.user %}
        <b><button class="btn btn-success w3-round-large">Réservez</button></p></b>
        {% endif %}

    </div>

</div>
{% endblock %}